*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(206, 132, 22);
    
}


header{
    background-color:chocolate;
    text-align:right;
    height:150px;
    padding:10px;
}